<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<title>Flipkart Price Tracker</title>
	</head>
	<body>
		<div class="container pt-5">
			<h1 class="text-center">Flipkart Price Tracker</h1>
			<form action="/addproduct" method="post">
				<div class="form-group">
					<label for="productURL">Product URL</label>
					<input
						id="productURL"
						class="form-control"
						type="url"
						name="productURL"
						required
					/>
				</div>
				<div class="form-group">
					<label for="targetPrice">Enter Target Price</label>
					<input
						id="targetPrice"
						class="form-control"
						type="number"
						min="1"
						name="targetPrice"
						required
					/>
				</div>
				<button class="btn btn-outline-primary" type="submit">Sumbit</button>
			</form>
		</div>
	</body>
</html>
